/** {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }*/
/*@import "ipad.css";
@import "tel.css";
@import "ordi.css";*/

html {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}


body  {
  position: relative;
  background-color: #29AAA7;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}


.container-wrapper {
  display: flex;
  flex-direction: column;
}

/*// -----------------
// code for header
*/
#banner {
  background: #29AAA7;
  color: black;
  font-weight: blod;
  display: flex;
  justify-content: space-between;
}

.footer-a {
  padding-top: 16%;
}


/*for big screen */
/*for big screen */
/*for big screen */
/*for big screen */
/*for big screen */
/*for big screen */

@media screen and (min-width: 1000px) {

  .banner-links {
    margin-top: 3%;
  }

  .language-header {
    margin-left: 80%;
    margin-top: -4%;
  }


  .language-header  a {
    color: white;
    text-decoration: none;
    font-size: 38px;
  }

  /*//--------------
  // code for footer
  */

  .insta-logo {
    height: 75px; width: 75px;
    margin-top: 5%;
  }

  .site-logo-b {
    height: 46px; width: 50px;
  }
  .site-logo-a {
    border-radius: 8px; border: 1.5px solid white;
  }


  /*code for the content */

  .text-container {
    position: absolute;
  /*  width: 852px;
    height: 160px;*/
    left: 15%;
    top: 100%;
    margin-top: 7%;
  }

  .text-container h3 {
    font-size: 260%;
    color: #FCFCFC;
  }

  .text-container h4 {
    font-size: 225%;
    color: #060F39;
  }

/*  .discount-text {
    font-size: 120%;
    color: #060F39;
    margin-top: 9%;
    padding-left: 4%;
    width: 100%;
  }
*/
  /*code for the form */


  input[placeholder] {
    color: #060F39;
    font-size: 175%;
    /*text-align: center;*/
    padding: 0.8%;
  }


  .form-input {
    margin-top: 4%;
    position: absolute;
    width: 40%;
    height: 16%;
    left: 0;

    /* Colors/White */

    background: #FCFCFC;
    /* Colors/LightGrey */

    border: 1.5px solid #060F39;
    box-sizing: border-box;
    border-radius: 8px;

  }



  .form-button {
    margin-top: 4%;
    position: absolute;
    width: 30%;
    height: 16%;
    left: 43%;

    background: #060F39;
    border: 1.5px solid white;
    border-radius: 8px;
  }

  .share-buttons {
    margin-top: 23%;

  }

  .share-buttons p {
    font-family: Lato;
    font-style: normal;
    font-size: 30px;
  }

  #emoji-a {
    width: 20%;
    height: 10%;
    font-size: 40px;

  }

  #logo-share {
    width: 20%; height: 10%;
  }


  .form-button h4 {
    color: white;
    font-weight: 500;
    font-size: 25px;
    margin-top: 21.9px;
    letter-spacing: 2px;
  }

/*  .form-chance {
    display: flex;
    justify-content: center;

  }*/
}


/*----------------------------------------------------------*/
@media (min-width: 800px) and (max-width: 1000px) {

  .banner-links {
    margin-top: 3%;
  }

  .language-header {
    margin-left: 80%;
    margin-top: -4%;
  }


  .language-header  a {
    color: white;
    text-decoration: none;
    font-size: 28px;
  }

  /*//--------------
  // code for footer
  */



  /*code for the content */

  .text-container {
    position: absolute;
  /*  width: 852px;
    height: 160px;*/
    left: 15%;
    top: 100%;
    margin-top: 7%;
  }

  .text-container h3 {
    font-size: 200%;
    color: #FCFCFC;
  }

  .text-container h4 {
    font-size: 175%;
    color: #060F39;
  }

/*  .discount-text {
    font-size: 120%;
    color: #060F39;
    margin-top: 9%;
    padding-left: 4%;
    width: 100%;
  }
*/
  /*code for the form */


  input[placeholder] {
    color:#060F39;
    font-size: 130%;
    /*text-align: center;*/
    padding: 0.8%;
  }


  .form-input {
    margin-top: 2.5%;
    position: absolute;
    width: 40%;
    height: 9%;
    left: 0;
    /* Colors/White */

    background: #FCFCFC;
    /* Colors/LightGrey */

    border: 1.5px solid #060F39;
    box-sizing: border-box;
    border-radius: 8px;
  }



  .form-button {
    margin-top: 2.5%;
    position: absolute;
    width: 26%;
    height: 9%;
    left: 43%;

    border: 1.5px solid white;
    background: #060F39;
    border-radius: 8px;
  }

  .share-buttons {
    margin-top: 20%;

  }

  .share-buttons p {
    font-family: Lato;
    font-style: normal;
    font-size: 25px;

  }

  #emoji-a {
    width: 15%;
    height: 10%;
    font-size: 35px;

  }

  #logo-share {
    width: 20%; height: 10%;
  }


  .form-button h4 {
    color: white;
    font-weight: 450;
    font-size: 15px;

    margin-top: 9.4px;

    letter-spacing: 2px;
  }


  .insta-logo {
    height: 62px; width: 62px;
    margin-top:8.4%;
  }

  .site-logo-b {
    height: 33px; width: 40px;
  }
  .site-logo-a {
    border-radius: 8px; border: 1.5px solid white;
  }



/*  .form-chance {
    display: flex;
    justify-content: center;

  }*/
}


/*for medium screen*/
/*for medium screen*/
/*for medium screen*/
/*for medium screen*/
/*for medium screen*/
/*for medium screen*/

@media (min-width: 500px) and (max-width: 800px) {


  .banner-links {
    margin-top: 3%;
  }

  .language-header {
    margin-left: 80%;
    margin-top: -4%;
  }


  .language-header  a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  /*//--------------
  // code for footer
  */



  /*code for the content */

  .text-container {
    position: absolute;
  /*  width: 852px;
    height: 160px;*/
    left: 15%;
    top: 100%;
    margin-top: 7%;
  }

  .text-container h3 {
    font-size: 140%;
    color: #FCFCFC;
  }

  .text-container h4 {
    font-size: 135%;
    color: #060F39;
  }

/*  .discount-text {
    font-size: 120%;
    color: #060F39;
    margin-top: 9%;
    padding-left: 4%;
    width: 100%;
  }*/

  /*code for the form */


  input[placeholder] {
    color: #060F39;
    font-size: 90%;
    /*text-align: center;*/
    padding: 0.8%;
  }


  .form-input {
    margin-top: 2%;
    position: absolute;
    width: 40%;
    height: 10%;
    left: 0;

    /* Colors/White */

    background: #FCFCFC;
    /* Colors/LightGrey */

    border: 1.5px solid #060F39;
    box-sizing: border-box;
    border-radius: 8px;

  }



  .form-button {
    margin-top: 12%;
    position: absolute;
    width: 40%;
    height: 10%;
    left: 0;

    border: 1.5px solid white;
    background: #060F39;
    border-radius: 8px;
  }

  .share-buttons {
    margin-top: 23%;
    width: 100%;

  }

  .share-buttons p {
    font-family: Lato;
    font-style: normal;
    font-size: 15px;

  }

  .text-share {
    white-space: nowrap;
  }

  #emoji-a {
    font-size: 30px;
    width: 25%;
    height: 10%;
  }

  #logo-share {
    width: 17%; height: 9%;
  }




  .form-button h4 {
    color: white;
    font-weight: 350;
    font-size: 14px;
  /*  line-height: 20px;*/
    letter-spacing: 1px;
    margin-top: 8.5px;

  }


  .insta-logo {
    height: 62px; width: 62px;
    margin-top: 4%;
  }

  .site-logo-b {
    height: 33px; width: 40px;
  }
  .site-logo-a {
    border-radius: 8px; border: 1.5px solid white;
  }

}







/*for small screen */
/*for small screen */
/*for small screen */
/*for small screen */
/*for small screen */
/*for small screen */
/*for small screen */

@media (min-width: 350px) and (max-width: 500px) {



  .banner-links {
    margin-top: 3%;
  }

  .language-header {
    margin-left: 80%;
    margin-top: -4%;
  }


  .language-header  a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }

  /*//--------------
  // code for footer
  */



  /*code for the content */

  .text-container {
    position: absolute;
  /*  width: 852px;
    height: 160px;*/
    left: 8%;
    top: 100%;
    margin-top: 7%;
  }

  .text-container h3 {
    font-size: 100%;
    color: #FCFCFC;
  }

  .text-container h4 {
    font-size: 92%;
    color: #060F39;
  }

/*  .discount-text {
    font-size: 120%;
    color: #060F39;
    margin-top: 9%;
    padding-left: 4%;
    width: 100%;
  }*/

  /*code for the form */


  input[placeholder] {
    color: #060F39;
    font-size: 72%;
    /*text-align: center;*/
    padding: 0.8%;
  }


  .form-input {
    margin-top: 3.5%;
    position: absolute;
    width: 40%;
    height: 12%;
    left: 0;

    /* Colors/White */

    background: #FCFCFC;
    /* Colors/LightGrey */

    border: 1px solid #060F39;
    box-sizing: border-box;
    border-radius: 7px;

  }



  .form-button {
    margin-top: 15.6%;
    position: absolute;
    width: 40%;
    height: 12%;
    left: 0;

    background: #060F39;
    border: 1px solid white;

    border-radius: 7px;
  }

  .share-buttons {
    margin-top: 23.7%;

  }

  .share-buttons p {
    font-family: Lato;
    font-style: normal;
    font-size: 12px;
  }

  .text-share {
    white-space: nowrap;
  }

  #emoji-a {
    font-size: 21px;
    width: 40%;
    height: 10%;
  }

  #logo-share {
    width: 17%; height: 9%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .form-button h4 {
    color: white;
    font-weight: 250;
    font-size: 12.3px;
  /*  line-height: 20px;*/
    letter-spacing: 0.5px;
    margin-top: 9px;
  }

  .insta-logo {
    height: 50px; width: 50px;
    margin-top: 8%;
  }

  .site-logo-b {
    height: 34px; width: 34px;
  }
  .site-logo-a {
    border-radius: 8px; border: 1.0px solid white;
  }

}

@media (min-width: 250px) and (max-width: 350px) {



  .banner-links {
    margin-top: 3%;
  }

  .language-header {
    margin-left: 80%;
    margin-top: -4%;
  }


  .language-header  a {
    color: white;
    text-decoration: none;
    font-size: 9px;
  }

  /*//--------------
  // code for footer
  */



  /*code for the content */

  .text-container {
    position: absolute;
  /*  width: 852px;
    height: 160px;*/
    left: 5%;
    top: 100%;
    margin-top: 7%;
  }

  .text-container h3 {
    font-size: 70%;
    color: #FCFCFC;
  }

  .text-container h4 {
    font-size: 67%;
    color: #060F39;
  }

/*  .discount-text {
    font-size: 120%;
    color: #060F39;
    margin-top: 9%;
    padding-left: 4%;
    width: 100%;
  }*/

  /*code for the form */


  input[placeholder] {
    color: #060F39;
    font-size: 50%;
    /*text-align: center;*/
    padding: 0.8%;
  }



  .form-input {
    margin-top: 3.3%;
    position: absolute;
    width: 40%;
    height: 14%;
    left: 0;

    /* Colors/White */

    background: #FCFCFC;
    /* Colors/LightGrey */

    border: 0.75px solid #060F39;
    box-sizing: border-box;
    border-radius: 6px;

  }



  .form-button {
    margin-top: 16.4%;
    position: absolute;
    width: 40%;
    height:14%;
    left: 0;

    background: #060F39;
    border: 0.75px solid white;

    border-radius: 6px;
  }

  .share-buttons {
    margin-top: 30%;

  }

  .share-buttons p {
    font-family: Lato;
    font-style: normal;
    font-size: 9px;
  }

  #emoji-a {
    font-size: 17px;
    width: 40%;
    height: 10%;
  }

  #logo-share {
    width: 19%; height: 11%;
  }

  .form-button h4 {
    color: white;
    font-weight: 100;
    font-size: 8.7px;

  /*  line-height: 20px;*/
    letter-spacing: 0.3px;
    margin-top: 7.6px;
  }

  .insta-logo {
    height: 45px; width: 45px;
    margin-top: 9%;
  }

  .site-logo-b {
    height: 24px; width: 30px;
  }
  .site-logo-a {
    border-radius: 8px; border: 1.0px solid white;
  }


}

@media (min-width: 0px) and (max-width: 250px) {



  .banner-links {
    margin-top: 3%;
  }

  .language-header {
    margin-left: 80%;
    margin-top: -4%;
  }


  .language-header  a {
    color: white;
    text-decoration: none;
    font-size: 6px;
  }

  /*//--------------
  // code for footer
  */



  /*code for the content */

  .text-container {
    position: absolute;
  /*  width: 852px;
    height: 160px;*/
    left: 5%;
    top: 100%;
    margin-top: 7%;
  }

  .text-container h3 {
    font-size: 40%;
    color: #FCFCFC;
  }

  .text-container h4 {
    font-size: 38%;
    color: #060F39;
  }

/*  .discount-text {
    font-size: 120%;
    color: #060F39;
    margin-top: 9%;
    padding-left: 4%;
    width: 100%;
  }*/

  /*code for the form */


  input[placeholder] {
    color: #060F39;
    font-size: 6px;
    /*text-align: center;*/
    padding: 0.8%;
  }


  .form-input {
    margin-top: -2%;
    position: absolute;
    width: 45%;
    height: 15%;
    left: 0;

    /* Colors/White */

    background: #FCFCFC;
    /* Colors/LightGrey */

    border: 0.75px solid #060F39;
    box-sizing: border-box;
    border-radius: 6px;

  }



  .form-button {
    margin-top: 17%;
    position: absolute;
    width: 45%;
    height: 15%;
    left: 0;

    background: #060F39;
    border: 0.75px solid white;

    border-radius: 10px;
  }

  .share-buttons {
    margin-top: 35%;

  }

  .share-buttons p {
    font-family: Lato;
    font-style: normal;
    font-size: 10px;
  }



  #emoji-a {
    font-size: 14px;
    width: 45%;
    height: 10%;
  }

  #logo-share {
    width: 21%; height: 13%;
  }


  .form-button h4 {
    color: white;
    font-weight: 100;
    font-size: 6.7px;

  /*  line-height: 20px;*/
    letter-spacing: 0.3px;
    margin-top: 6.6px;
  }

  .insta-logo {
    height: 30px; width: 30px;
    margin-top: 12%;
  }

  .site-logo-b {
    height: 12px; width: 18px;
  }
  .site-logo-a {
    border: 1.0px solid white;
    border-radius: 4px;
  }


}

