<footer class="footer-a" >
  <div class="footer-b">


    <div class="footer-d" style="display: flex; justify-content: left;   align-items: center;
">

      <a href="https://www.spirulinazur.fr/" target="_blank"
        class="social-link social-icon" style="border-radius: 8px; border: 1.5px solid white;">
        <img src="../assets/logo_figma.png" style="height: 50px; width: 50px;">
      </a>

      <a href="https://www.instagram.com/spirulinazur/?hl=fr" target="_blank" class="social-link social-icon" style='padding-left:35%;'>
        <img src="../assets/insta.png" style="height: 70px; width: 70px;">
      </a>

      <a href="https://github.com/boschbird/" class="social-link social-icon" style="left:10%;">
      </a>

    </div>

  </div>
<!--   <nav>
    <ul class="footer-nav">
      {% include navlinks.html %}
    </ul>
  </nav> -->
</footer>
