<footer class="footer-a" >
  <div class="footer-b">


    <div class="footer-d" style="display: flex; justify-content: left;   align-items: center;
">

      <a href="https://www.spirulinazur.fr/" target="_blank"
        class="site-logo-a" >
        <img src="../assets/small_logo.svg" class='site-logo-b' >
      </a>

      <a href="https://www.instagram.com/spirulinazur/?hl=fr" target="_blank" >
        <img src="../assets/insta.png" class='insta-logo' >
      </a>

      <a href="https://github.com/boschbird/" class="social-link social-icon" style="left:10%;">
      </a>

    </div>

  </div>
<!--   <nav>
    <ul class="footer-nav">
      {% include navlinks.html %}
    </ul>
  </nav> -->
</footer>
