<form accept-charset="UTF-8" action="" method="POST" data-netlify="true" netlify class="form-container">
    <div class="A">

      <input type="email" name="email" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required placeholder="ton_mail@hotmail.com" class="form-input">
      <input type="hidden" name="utf8" value="✓">
    </div>

    <div class="B">

      <button type="submit" class="form-button"> <h4 style='justify-content: center;'> ABONNE-TOI </h4></button>
    </div>
</form>


