<nav class="menu">
  <section class="banner-links">

<!--     <a href="https://www.spirulinazur.fr/">  <img src="assets/logo.svg" style="width:50%; height:50%"  alt="logo of spirulinazur"></a> -->
    <a href="https://www.spirulinazur.fr/" target="_blank"
      class="social-link social-icon">
      <img src="/assets/logo.svg" style="width:30%; height:30%; margin-left:15%;"  alt="logo of spirulinazur">
    </a>


<!--     {% if lang=='fr' %}
      <img src="assets/logo_fr.svg" style="width:20%; height:20%; margin-left:15%;"  alt="logo of spirulinazur">

    {% endif %} -->

  </section>


<!--     <section class="links">
    <strong class="">{{ site.title }}</strong>
    {% for item in site.data.menu %}
      {% if item.url %}<a href="{{ item.url }}">{{ t[lang].menu[item.id] }}</a>
      {% else %}<a href="{{ site.url }}{{ site.baseurl }}{{ t_url_prefix }}{{ item.path }}">{{ t[lang].menu[item.id] }}</a>{% endif %}
    {% endfor %}
  </section> -->
</nav>
